<div class="container-fluid p-3">
    <div class="row text-center">
        <div class="col-12">
            <p>Learn More at <a href="https://www.desiprogrammer.com">Desi Programmer</a></p>
        </div>
    </div>
</div>